<div class="padding-top"></div>
<div class="container artist-page">
  <div class="artist-sidebar">
    <p class='artist-name'><%= @artist.name  %></p><br>
    <p><%= @artist.description %></p>
    <p>Galleries</p>
    <p>Reads</p>
  </div>
  <div class='artist-timeline'>

    <% @artist.artworks.each_with_index do |artwork, index| %>
      <% index = [artwork.name, artwork.date] %>

      <% artwork.dialogs.each do |a| %>
        <div class="artist-card">
          <img src=<%= a.img_url %>>
          <p><%= index[0].gsub('"', '') %>, <span><%= index[1] %></span></p>


        </div>
      <% end %>
    <% end %>
  </div>
</div>
