<div class="padding-top"></div>
<div class="container artist-page">
  <div class="artist-sidebar">
    <p class='artist-name'><%= @artist.name  %></p><br>
    <p><%= @artist.description %></p>
    <% if @artist.galleries.present? %>
    <p>Galleries:</p>
    <% end %>
    <% @artist.galleries.each do |gallery| %>
      <p class="margin-left">
        <%= gallery.name %>
      </p>
    <% end %>

    <!-- <p class="margin-top">Reads:</p> -->
    <% if @related_artists != nil %>
      <p class="margin-top">Related artists:</p>
      <ul class="list-unstyled margin-left">
      <% @related_artists[0..3].each do |related_artist| %>
       <p >
        <li><%= link_to related_artist.name, artist_path(related_artist.id) %></li> </p>
      <% end%>
    <% end %>
    </ul>


  </div>
  <div class='artist-timeline'>

    <% @artist.artworks.each_with_index do |artwork, index| %>
      <% index = [artwork.name, artwork.date] %>

      <% artwork.dialogs.each do |a| %>
        <div class="artist-card">
          <img src=<%= a.img_url %>>
          <p><%= index[0].gsub('"', '') %>, <span><%= index[1] %></span></p>


        </div>
      <% end %>
    <% end %>
  </div>
</div>
