
<h2>Negentropy</h2>

<div class="container">


      <% @answered_ids = [] %>
      <% @tweets[:timeline].each do |tweet| %>

            <% if @tweets[:status].select { |twt| twt.id == tweet.in_reply_to_status_id }.size != 0 %>

  <div class="row">
      <div class="col-xs-1">

              <img src="<%= @tweets[:status].select { |twt| twt.id == tweet.in_reply_to_status_id }.first.attrs[:user][:profile_image_url_original] %>">
          </div>
          <div class="col-xs-9">

              <p><strong><%= @tweets[:status].select { |twt| twt.id == tweet.in_reply_to_status_id }.first.attrs[:user][:name] %></strong></p>

              <p><%= @tweets[:status].select { |twt| twt.id == tweet.in_reply_to_status_id }.first.text %></p>

      </div>
 </div>
          <% end %>
   <div class="row">
      <div class="col-xs-9">
          <% if tweet.attrs[:entities][:media] %>
           <div> <img src="<%= tweet.attrs[:entities][:media][0][:media_url] %>"></div> 
          <% end %>
          <br>
      </div>
    </div>

    <div class="row">
       <div class="col-xs-9">
          <%= tweet.text %>
        </div>
    </div>

      <% end %>


  </div>
</div>



