<nav class="navbar navbar-default navbar-fixed-top navbar-wagon" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/"><h1>Negentropy</h1></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <!-- <input type="search" placeholder="Search..." id="searchbar"> -->

            <input name="artist" placeholder="Search..." id="artist" />


            <% content_for(:after_js) do %>
            <script type="text/javascript">
              $(document).ready(function() {
                var client = new AlgoliaSearch(
                  '<%= ENV['ALGOLIA_APPLICATION_ID'] %>',
                  '<%= ENV['ALGOLIA_SEARCH_ONLY_API_KEY'] %>');

                // var template = Hogan.compile('{{{_highlightResult.email.value}}} ({{{_highlightResult.first_name.value}}} {{{_highlightResult.last_name.value}}})');
                $('#artist').typeahead(null, {
                  source: client.initIndex('<%= Artist.index_name %>').ttAdapter(),
                  displayKey: 'name',
                  templates: {
                    suggestion: function(hit) {
                      return "<div class='search_function'>"
                      + hit._highlightResult.name.value +
                      "</div>";
                    }
                  }
                });
              });
            </script>
            <% end %>
          </li>

            <%= link_to "#", {class: "dropdown-toggle", "data-toggle" => "dropdown", "role" => "button", "aria-expanded" => "false"} do %>
                <% if user_signed_in? %>
                  <%= image_tag current_user.image, class: "img-avatar" %>
                  <%= current_user.name %>
                <% else %>
                <div id="login_button">
                  <%= link_to "twitter connect", user_omniauth_authorize_path(:twitter) %></div>
                <% end %>
              <%# image_tag "http://lorempixel.com/30/30/people", class: "img-avatar" %>
              <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/collection">Collection</a></li>
              <% if user_signed_in? && current_user.admin %>
              <li><%= link_to "Admin", admin_root_path %></li>
              <% end %>

              <% if user_signed_in? %>
                <li><%= link_to 'Sign out', destroy_user_session_path, method:'delete'%></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>