<%= content_for(:title) do %>
  Home
<% end %>

<%= content_for(:description) do %>
  <%# TODO %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h1>Welcome!</h1>


      <% if user_signed_in? %>
        <%= image_tag current_user.image, class: "img-avatar" %>
        <%= current_user.name %>
      <% else %>
        <%= link_to "Connect with Twitter", user_omniauth_authorize_path(:twitter) %>
      <% end %>


    </div>
  </div>
</div>