<div class="scroll-top">Back to top</div>
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <% Dialog.all.each do |d| %>
        <div class="stream-item">
          <div class="row">
            <div class="col-xs-1">
              <img src="<%= d.origin_profilpic_url %>" class="img img-tweet">
            </div>
            <div class="col-xs-11">
              <p><strong><%= d.origin_user %></strong>
              @<%= d.origin_screen_name %>
              <% if d.origin_date != nil %>
              • <%= d.origin_date.to_date %></p>
              <% end %>
              <p><%= d.origin_text %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="img-tweet-box">
                <div class="overlay"></div>
                <a href="#" class="button">Add</a>
                <img src="<%= d.img_url %>" class="img img-tweet"> 
                <%= link_to "(+)", dialog_add_path(:dialog_id => d.id), method: :put %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <p>
                <%= d.text %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
