<div class="container">
     <div class="row">
       <div class="col-xs-12">
         <% @insta.each do |i| %>
          <div class="stream-item-container border-bot">
            <div class="row" id="origin_tweet_box">
              <div class="col-xs-6" id="">
                 <img src="<%= i.ig_user_profilpic_url %>" class="img img-origin-tweet" id="img-tweetos" >
                 <p class="tweet-profil"><strong><%= i.ig_fullname %></strong><br>
                   @<%= i.ig_username %>
                   <% if i.date != nil %>
                     • <%= i.date %></p>
                   <% end %>
                  <img src="<%= i.ig_img_url %>">
                  <div><%= i.ig_text %></div>
                </div>
              </div>
            </div>

        </div>
      </div>
       <% unless get_related_url(i.id).empty? %>
                 <div class="suite">
                   <p>suite de l'exposition:</p>
                 </div>
               <% end %>
               <section id="cards">
                 <% related_dialogs = get_related_url(i.id) %>
                 <% related_dialogs.each do |dialog| %>
                   <% unless dialog.img_url == d.img_url  %>
                   <%= link_to artist_path(dialog.artwork.artist_id) do %>

                     <%= image_tag dialog.img_url %>
                   <% end %>

                   <% end %>
                 <% end %>
                  <% end %>

               </section>