<div class="container">
     <div class="row">
       <div class="col-xs-12">
         <% @insta.each do |i| %>
          <div class="stream-item-container border-bot">
            <div class="row" id="origin_tweet_box">
              <div class="col-xs-6" id="">
                 <img src="<%= i.ig_user_profilpic_url %>" class="img img-origin-tweet" id="img-tweetos" >
                 <p class="tweet-profil"><strong><%= i.ig_fullname %></strong><br>
                   @<%= i.ig_username %>
                   <% if i.date != nil %>
                     • <%= i.date %></p>
                   <% end %>
                  <img src="<%= i.ig_img_url %>" class="img img-tweet">
                  <div><%= i.ig_text %></div>
                </div>
              </div>
            </div>

       <!--  </div> -->
<!--       </div> -->
       <% if get_related_url(i.id).nil? %>
                 <div class="suite">
                   <p>[Empty Art Graph]</p>
                 </div>
        <% else  %>
                <div class="suite">
                   <p>suite de l'exposition:</p>
                 </div>

               <section id="cards">
                 <% related_art = get_related_url(i.id) %>
                 <% related_art.each do |art| %>
                  <%= art.name %>
                  <!--  <% unless art.img_url == i.img_url  %>
                   <%= link_to artist_path(art.artwork.artist_id) do %>

                     <%= image_tag art.img_url %>
                   <% end %> -->

                   <% end %>
                 <% end %>
                  <% end %>
        <% end %>
               </section>